.blog{
    background-image:url(../assets/blog-header.jpg);
    background-size:cover;
    height:700px;
}

.blog h2 {
    margin-top:180px;
    text-align:center;
}

.containerBlog {
    display:flex;
}


.blogPost {
    display:flex;
    flex-direction:column;

}

.sidebar li{
    list-style:none;
}

.sidebar li::before {
    content: "\2022";
    color: $seaGreen;
    font-weight: bold;
    display: inline-block; 
    width: 2px;
    margin-left:10px;
}

.sidebar {
    margin-left:150px;
    padding-top:350px;
    background-color:$white;
    margin-top:130px;
    width:320px;
    margin-right:100px;
}

h5{
    margin-bottom:20px;
    margin-top:20px;
}


.blogMain {
    background-color:$ice;
}

.side img {
    position:absolute;
    top:800px;
    width:450px;
}

.sidebar p {
    margin-bottom:40px;
}

.sidebar a {
    text-decoration:none;
    color:black;
    font-weight: bold;
    font-style:italic;
}

.sidePost a {
    font-weight:normal;
    font-family:'roboto';
    font-size:1.5rem;
}

.postImage {
    position:absolute;
    top:400px;
    right:0;
    box-shadow: -4rem 4rem 0 -1rem $canary;
}

.mainPost {
    margin-top:360px;
    padding-top:50px;
    padding-left:50px;
    padding-right:150px;
    margin-right:25px;
    margin-left:5px;
    margin-bottom:50px;
    box-shadow: -1rem 1rem 0 0 $canary;
}

.blogPost h4 {
    margin-bottom:50px;
}

.blogContainer {
    display:flex;
    margin-bottom:100px;
    width:800px;
}

.blogContainer img {
    width: 100px;
    height:100px;
    margin-right:50px;
    margin-bottom:50px;
}

.blogContainer2 {
    display:flex;
    flex-direction:column;
}

    form {
        padding-top:50px;
        max-width: 900px;
        width: 90%;
        margin: 0 auto;
    }

    form input {
        border:none;
        border-bottom: 2px solid $seaGreen;
        background-color:$ice;
        height:50px;
    }

    form textarea {
        border: 2px solid $seaGreen;
        background-color:$ice;
    }

    ::placeholder {
        color:black;
        font-size:1.5rem;
    }

    .short {
        display:flex;
        padding-right:22px;
        padding-bottom:10px;
    }
    
    .short input {
        width:390px;
    }
    
    .long textarea {
        width:800px;
    }

    button {
        background: $seaGreen;
        color: $black;
        font-family:$mainFont;
        text-transform: uppercase;
        padding: 10px;
        border: none;
        align-self: center;
        margin-top: 10px;
        width:800px;
        cursor:pointer;
        margin-bottom:100px;
    }

    .contactUs {
        flex-direction:column;
    }