.blog{
    background-image:url(../assets/blog-header.jpg);
    background-size:cover;
    height:60vh;
}

.blog h2 {
    margin-top:180px;
    text-align:center;
}

.containerBlog {
    display:flex;
}


.blogPost {
    display:flex;
    flex-direction:column;
    width:70%;
}

.sidebar li{
    list-style:none;
}

.sidebar li::before {
    content: "\2022";
    color: $seaGreen;
    font-weight: bold;
    display: inline-block; 
    width: 2px;
    margin-left:10px;
}

.sidebar {
    margin-left:27%;
    padding-top:60%;
    background-color:$white;
    margin-top:40%;
    width:71%;
    margin-right:100px;
    
}

h5{
    margin-bottom:20px;
    margin-top:20px;
}


.blogMain {
    background-color:$ice;
}

.side {
    width:36.3%;
    margin-right:3.3%;
}

.side img {
    position:absolute;
    top:80%;
    width:31%;
}

.sidebar p {
    margin-bottom:40px;
}

.sidebar a {
    text-decoration:none;
    color:black;
    font-weight: bold;
    font-style:italic;
}

.sidePost a {
    font-weight:normal;
    font-family:'roboto';
    font-size:1.5rem;
}

.postImage {
    width:62%;
    position:absolute;
    top:47%;
    right:0;
    box-shadow: -4rem 4rem 0 -1rem $canary;
}

.mainPost {
    margin-top:48%;
    padding-top:50px;
    padding-left:50px;
    padding-right:0;
    margin-right:0;
    margin-left:5px;
    margin-bottom:50px;
    box-shadow: -1rem 1rem 0 0 $canary;
}

.date {
    margin-bottom:7%;
}

.blogContainer {
    display:flex;
    margin-bottom:100px;
    width:90%;
}

.blogContainer img {
    width: 100px;
    height:100px;
    margin-right:50px;
    margin-bottom:50px;
}

.blogContainer2 {
    display:flex;
    flex-direction:column;
}

    form {
        padding-top:50px;
        // max-width: 900px;
        width: 90%;
        margin: 0;
    }

    form input {
        border:none;
        border-bottom: 2px solid $seaGreen;
        background-color:$ice;
        height:50px;
    }

    form textarea {
        border: 2px solid $seaGreen;
        background-color:$ice;
    }

    ::placeholder {
        color:black;
        font-size:1.5rem;
    }

    .short {
        display:flex;
        padding-right:22px;
        padding-bottom:10px;
    }
    
    .short input {
        width: 26vw;
    }
    
    .long textarea {
        width:95%;
    }

    button {
        background: $seaGreen;
        color: $black;
        font-family:$mainFont;
        text-transform: uppercase;
        padding: 10px;
        border: none;
        align-self: center;
        margin-top: 10px;
        width:95%;
        cursor:pointer;
        margin-bottom:100px;
    }

    .contactUs {
        flex-direction:column;
    }


@media (max-width: 1345px) {


}


/* Portrait tablet and small desktops */
@media (max-width: 940px) {


}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
}