.contact{
    background-image:url(../assets/contact-header.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    height:56rem;
}

.mainContact {
    background-color:$ice;
    height:600px;
}

.contact h2 {
    margin-top:200px;
    text-align:center;
}

.sideContact{
    margin-left:8%;
    padding-top:10%;
}

.info {
    margin: 30px 0;
}

.fab {
    font-size:25px;
    margin-right:20px;
}

.contactForm {
    height:38rem;
    width:50%;
    background-color:$white;
    position:absolute;
    top:40rem;
    right:5%;
    box-shadow: -4rem 4rem 0 -0.5rem $canary;
}

.contactForm input{
    border:none;
    border-bottom: 2px solid $seaGreen;
    height:50px;
    margin-top:50px;
    margin-left: 40px;
    margin-bottom:30px;
    width:20.3vw;
    background-color:$white;
}

.contactForm textarea{
    border: 2px solid $seaGreen;
    background-color:$ice;
    margin-left:40px;
    height:25%;
    width:44vw;
    background-color:$white;
}

.contactForm button {
    margin-top:30px;
    margin-left:40px;
    width:44vw;
}
