
@media (max-width: 1345px) {
    //home
    .sidebar {
    padding-top:85%;
}
}


/* Landscape phone to portrait tablet */
@media (max-width: 965px) {

    //contact
    .mainContact{
        height:1000px;
    }

    .sideContact{
        width:100%;
        padding-top:500px;
        margin-left:0;
        text-align:center;
    }

    .contactForm {
        top:60rem;
        width:80vw;
    }


    .contactForm input{
    height:5rem;
    margin-top:5rem;
    margin-left: 3vw;
    margin-bottom:30px;
    width:34vw;
    background-color:$white;
}

.contactForm textarea{
    margin-left:2.5vw;
    height:25%;
    width:75vw;
}

.contactForm button {
    margin-top:3rem;
    margin-left:2.5vw;
    width:75vw;
}

}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
    //home
.wrapper {
        max-width: 900px;
        width: 90%;
        margin: 0 auto;
    }

.between {
    position:absolute;
    right:0;
    top:500px;
    border-bottom: 20px solid $canary;
    border-left: 20px solid $canary;
    border-top: 20px solid $canary;
    }

.between img {
    height:300px;
    width: 320px;
}

//section 2
.section2 {
    height:750px;
}

.gridItem1 img{
    width:49vw;
    box-shadow: 2rem 2rem 0rem 0rem $canary;
    position:absolute;
    left:-10%;
    top:-30%;
}

.gridItem3 {
    margin-left:20px;
}

.gridItem4 img {
    width:49vw;
    box-shadow: -2rem 2rem 0rem 0rem $canary;
    position:absolute;
    right:-10%;
    top:160%;
}

.gridItem {
    margin-bottom:0;
    height:20%;
}

.gridContainer {
    grid-template-rows: 350px 350px;
    grid-template-columns: 1fr 1fr;
    gap: 0 100px;
}

.section2 h4{
    width:95%;
    margin-top:20px;
    text-align:left;
}

//section 3

.section3 {
    height:unset;
}

.gridContainerTwo{
    display:flex;
    flex-direction:column;
    align-content: space-evenly;
}

.gridContainerTwo .gridItem{
    margin-bottom:100px;
}

.section3 .flexContainer {
    margin-bottom:0;
    height:150px;
}

.section3 h4{
    margin-top:0;
    padding-top:50px;
}

.section3 p {
    margin-bottom:50px;
    padding-bottom:10px;
}

.section3 .fas{
    margin-top:50px;
}

//section 5

.section5 {
    min-height:60rem;
}

    //blog
    
    .sidebar {
    padding-top:95%;
}

}



@media (max-width: 870px) {
    .section5 {
        height:75rem;
    }

    h1 {
        font-size:10rem;
    }
}





/* Landscape phone to portrait tablet */
@media (max-width: 768px) {


.wrapper {
        max-width: 750px;
        width: 95%;
        margin: 0 auto;
    }

.between {
    top:65rem;
    border-bottom: 20px solid $canary;
    border-left: 20px solid $canary;
    border-top: 20px solid $canary;
    }


.section1 {
    padding-bottom:15rem;
}

//section 2
.section2 {
    height:750px;
}

.gridItem4 img {
    top:240%;
}

//section 5

.section5 {
    min-height:100rem;
}
}









@media (max-width: 680px) {
    

//home


.wrapper {
    max-width: 680px;
    width: 95%;
    margin:0 auto;
}

.mainHeader .capturedTitle {
    font-size:6rem;
}

.icon {
    display:none !important;
}

.flexContainer {
    min-width:unset;
}

.section3{
    min-height:1300px !important;
}

.gridContainerTwo {
    padding: 10px;
    min-height:1250px;
    grid:unset;

}

.gridContainerTwo .gridItem {
    margin-bottom:200px;
}

.normalMenu {
    display:none;
}

.burgerMenu,
.mobile {
    display:unset;
}

.burgerMenu {
    list-style:none;
	background: $seaGreen;
	position: fixed;
	z-index: 10;
	width: 40%; 
	left: -40%; 
	top: 0;
	height: 256px;
	transition: all 0.5s; 
}

.burgerMenu a {
    text-decoration:none;
    text-transform: uppercase;
    font-family:$mainFont;
    color:$black;
	border-bottom: 1px solid $black;
	display: inline-block;
	font-size: 2rem;
	width: 100%;
	padding: 20px;
	transition: all 0.3s; 
}

.burgerMenu a:hover,
.burgerMenu a:focus {
	background: #3498db;
}

.fa {
    font-size:4rem;
}


input[type="checkbox"]:checked + .burgerMenu {
	left: 0;  
}

// input[type="checkbox"]:checked ~ label.fa {
// 	font-size:10rem;
// }

input[type="checkbox"] {
	display: none;  
}

label[for="toggle"] {
	position: fixed;
	top: 1rem;
	right: 1rem;
	z-index: 10;
    
}


.mainHeader {
    width:100%;
    background-position:-1rem 0rem;
    background-size:110rem 80rem;
    background-repeat:no-repeat;
}

.between {
    position:absolute;
    right:0;
    top:68rem;
    border:none;
    }

.between img {
    height: 0;
    width:0;
}

.mainHeader h1 {
    font-size:8rem;
    margin-top:60rem;
}

//section 1
.section1 {
    
    padding-top:10rem;
    padding-bottom:10rem;
}


//section 2
.section2 {
    height:160rem;
}

.gridContainer{
    padding-top:3rem;
    margin-left:2vw;
    gap:0;
}
.gridItem1 {
    position:static;
}

.gridItem1 img{
    width:90vw;
    box-shadow: none;
    position:static;
    left:0;
    top:0;
}

.gridItem2 {
    padding-top:0;
}

.gridItem4 {
    position:static;
}

.gridItem4 img {
    width:90vw;
    box-shadow:none;
    position:static;
    right:0;
    bottom:0;
}

.gridItem3 {
    margin-left: 0;
    text-align:center;
}

.section2 .gridItem p {
    text-align:center;
}


.gridItem {
    margin-bottom:0;
    height:20%;
    margin:0 auto;
}

.gridContainer {
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    gap: 0;
}

.section2 h4{
    width:100%;
    margin-top:2rem;
    text-align:center;
}

.section2 .more {
    padding-left:15px;
    padding-top:8px;
    width:150px;
    height:50px;
    margin: 0 auto;
    margin-top:30px;
    margin-bottom:20px;
}

//section 3


.section3 .gridItem {
    margin-left:1rem;
    margin-right:1rem;
}

.section3 {
    height:unset;
    min-height:850px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns:unset;
    gap: 0 20px;
}



.section3 .flexContainer {
    margin-bottom:0;
    height:150px;
}

.section3 h4{
    margin-top:0;
    padding-top:50px;
}

.section3 p {
    margin-bottom:20px;
    padding-bottom:10px;
}

.section3 .fas{
    margin-top:50px;
}

//section 5

.section5 {
    background-color:$ice;
    height:90rem;
}

.section5 h4 {
    margin-bottom:20px;
    margin-top:30px;
}

.container5 {
    display:flex;
    justify-content:space-between;
    width:105%;
}

.section5 img {
    display:block;
    margin:0 auto;
    margin-top:50px;
    height:300px;
    width:300px;
    box-shadow: none;
}

.section5 .container {
    display:flex;
    flex-direction:column;
    margin-left:5vw;
    text-align:center;
}

.section5 p {
    margin-bottom:50px;
}

.section5 .more {
    padding-left:0;
    margin:0 auto;
}



.container5 {
    display:block;
}


.section6 {
    height:25rem;
}

.section6 img {
    width:calc(90vw/3);
    height:calc(90vw/3);
}

.container6 {
    margin:0;
    margin-left:1vw;
    padding-top:5rem;
    width:95vw;
}


//blog


    .side {
        margin-right:1rem;
    }

    .mainPost{
        margin-left:0;
        padding-left:1rem;
    }



}


@media (max-width: 480px) {



//blog



.containerBlog{
        display:unset;
}

.normalMenu {
    display:none;
}

.burgerMenu,
.mobile {
    display:block;
}

.burgerMenu {
    list-style:none;
	background: $seaGreen;
	position: fixed;
	z-index: 10;
	width: 40%; 
	left: -40%; 
	top: 0;
	height: 256px;
	transition: all 0.5s; 
}

.burgerMenu a {
    text-decoration:none;
    text-transform: uppercase;
    font-family:$mainFont;
    color:$black;
	border-bottom: 1px solid $black;
	display: inline-block;
	font-size: 2rem;
	width: 100%;
	padding: 20px;
	transition: all 0.3s; 
}

.burgerMenu a:hover,
.burgerMenu a:focus {
	background: #3498db;
}

.fa {
    font-size:4rem;
}


input[type="checkbox"]:checked + .burgerMenu {
	left: 0;  
}

// input[type="checkbox"]:checked ~ label.fa {
// 	font-size:10rem;
// }

input[type="checkbox"] {
	display: none;  
}

label[for="toggle"] {
	position: fixed;
	top: 1rem;
	right: 1rem;
	z-index: 10;
    
}

    .side img {
        display:none;
    }

    .postImage{
        top:900px;
        left:5%;
        box-shadow:none;
        border-top: 1.5rem solid $canary;
        border-bottom: 1.5rem solid $canary;
        border-left: 1.5rem solid $canary;
        border-right: 1.5rem solid $canary;
        width:90%;
    }

    .side {
        margin-right:0;
        margin-left:0;
        padding-top:0;
        width:100%;
    }

    .sidebar {
        margin-left:0;
        margin-right:0;
        padding-top:0;
        padding-right:0;
        margin-top:0;
        width:100%;
        text-align:center;
    }

    .sidebar li::before {
    content: "\2022";
    color: $seaGreen;
    font-weight: bold;
    display: inline-block; 
    width: 2px;
    margin-right:1rem;
    }

    .containerBlog{
        display:block;
        width:100%;
    }
    .mainPost {
        padding-left:2rem;
        padding-right:2rem;
        width:100%;
        margin-top:70%;
        text-align:center;
        box-shadow:none;
    }

    .blogPost {
        width:100%;
    }

    .blogContainer{
        display:block;
        width:100%;
        text-align:center;
        padding: 0 4rem;
        margin-bottom:2rem;
    }

    .blogContainer img {
        width:40vw;
        height:40vw;
        margin:0;
        margin-top:2rem;
        border:1rem solid $canary;
    }

    .blogContainer p {
        margin: 2rem 0;
    }

    .comment {
        width:100%;
    }

    .comment input{
        width:43vw;
        margin-left:11%;
    }
    .comment textarea,
    .comment button {
        width:90%;
        margin-left:5%;
    }








//contact

.normalMenu {
    display:none;
}

.burgerMenu,
.mobile {
    display:block;
}

.burgerMenu {
    list-style:none;
	background: $seaGreen;
	position: fixed;
	z-index: 10;
	width: 30%; 
	left: -30%; 
	top: 0;
	height: 256px;
	transition: all 0.5s; 
}

.burgerMenu a {
    text-decoration:none;
    text-transform: uppercase;
    font-family:$mainFont;
    color:$black;
	border-bottom: 1px solid $black;
	display: inline-block;
	font-size: 2rem;
	width: 100%;
	padding: 20px;
	transition: all 0.3s; 
}

.burgerMenu a:hover,
.burgerMenu a:focus {
	background: #3498db;
}

.fa {
    font-size:4rem;
}


input[type="checkbox"]:checked + .burgerMenu {
	left: 0;  
}

// input[type="checkbox"]:checked ~ label.fa {
// 	font-size:10rem;
// }

input[type="checkbox"] {
	display: none;  
}

label[for="toggle"] {
	position: fixed;
	top: 1rem;
	right: 1rem;
	z-index: 10;
    
}

.contact h2 {
    margin-top:300px;
}

.section6 {
    height:1400px;
}

.section6 img {
    width:80vw;
    height:80vw;
    margin: 3rem auto;
}

.container6 {
    flex-direction:column;
}

}