//declaring a variable and saving a value to it
$seaGreen: #4CEEA7;
$canary: #FDFA69;
$black: #2C2C2C;
$white: #FAFAFA;
$ice: #EFFDF3;

$mainFont: 'Playfair Display', serif;
$secondaryFont: 'roboto', sans-serif;