html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul,
body,
h1,
h2,
h3,
h4,
h5,
div,
img,
section,
a,
p {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Playfair Display", serif;
  color: black;
}

p {
  font-family: "roboto", sans-serif;
  font-size: 2rem;
  line-height: 3.2rem;
}

.more {
  font-size: 2rem;
  line-height: 3.2rem;
  text-transform: uppercase;
}

h1 {
  font-size: 138px;
  text-transform: uppercase;
}

h2 {
  font-size: 80px;
  line-height: 92px;
  text-transform: uppercase;
}

h3 {
  font-size: 42px;
  text-transform: uppercase;
}

h4 {
  font-size: 32px;
  text-transform: uppercase;
}

h5 {
  font-size: 22px;
  text-transform: uppercase;
}

.cap {
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
}

.blog {
  background-image: url(../assets/blog-header.jpg);
  background-size: cover;
  height: 60vh;
}

.blog h2 {
  margin-top: 180px;
  text-align: center;
}

.containerBlog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blogPost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
}

.sidebar li {
  list-style: none;
}

.sidebar li::before {
  content: "\2022";
  color: #4CEEA7;
  font-weight: bold;
  display: inline-block;
  width: 2px;
  margin-left: 10px;
}

.sidebar {
  margin-left: 27%;
  padding-top: 70%;
  background-color: #FAFAFA;
  margin-top: 50%;
  width: 71%;
  margin-right: 100px;
}

h5 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.blogMain {
  background-color: #EFFDF3;
}

.side {
  width: 36.3%;
  margin-right: 3.3%;
}

.side img {
  position: absolute;
  top: 80%;
  width: 31%;
}

.sidebar p {
  margin-bottom: 40px;
}

.sidebar a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-style: italic;
}

.sidePost a {
  font-weight: normal;
  font-family: 'roboto';
  font-size: 1.5rem;
}

.postImage {
  width: 62%;
  position: absolute;
  top: 47%;
  right: 0;
  -webkit-box-shadow: -4rem 4rem 0 -1rem #FDFA69;
          box-shadow: -4rem 4rem 0 -1rem #FDFA69;
}

.mainPost {
  margin-top: 58%;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 0;
  margin-right: 0;
  margin-left: 5px;
  margin-bottom: 50px;
  -webkit-box-shadow: -1rem 1rem 0 0 #FDFA69;
          box-shadow: -1rem 1rem 0 0 #FDFA69;
}

.date {
  margin-bottom: 7%;
}

.blogContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
  width: 90%;
}

.blogContainer img {
  width: 100px;
  height: 100px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.blogContainer2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comment {
  padding-top: 50px;
  width: 90%;
  margin: 0;
}

.comment input {
  border: none;
  border-bottom: 2px solid #4CEEA7;
  background-color: #EFFDF3;
  height: 50px;
}

.comment textarea {
  font-size: 2rem;
  border: 2px solid #4CEEA7;
  background-color: #EFFDF3;
}

::-webkit-input-placeholder {
  color: black;
  font-size: 1.5rem;
}

:-ms-input-placeholder {
  color: black;
  font-size: 1.5rem;
}

::-ms-input-placeholder {
  color: black;
  font-size: 1.5rem;
}

::placeholder {
  color: black;
  font-size: 1.5rem;
}

.short {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 22px;
  padding-bottom: 10px;
}

.short input {
  font-size: 2rem;
  width: 26vw;
}

.long textarea {
  width: 95%;
}

button {
  background: #4CEEA7;
  color: #2C2C2C;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  padding: 10px;
  border: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 10px;
  width: 95%;
  cursor: pointer;
  margin-bottom: 100px;
}

.contactUs {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact {
  background-image: url(../assets/contact-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 56rem;
}

.mainContact {
  background-color: #EFFDF3;
  height: 600px;
}

.contact h2 {
  margin-top: 200px;
  text-align: center;
}

.sideContact {
  margin-left: 8%;
  padding-top: 10%;
}

.info {
  margin: 30px 0;
}

.fab {
  font-size: 25px;
  margin-right: 20px;
}

.contactForm {
  height: 38rem;
  width: 50%;
  background-color: #FAFAFA;
  position: absolute;
  top: 40rem;
  right: 5%;
  -webkit-box-shadow: -4rem 4rem 0 -0.5rem #FDFA69;
          box-shadow: -4rem 4rem 0 -0.5rem #FDFA69;
}

.contactForm input {
  border: none;
  border-bottom: 2px solid #4CEEA7;
  height: 50px;
  margin-top: 50px;
  margin-left: 40px;
  margin-bottom: 30px;
  width: 20.3vw;
  background-color: #FAFAFA;
}

.contactForm textarea {
  border: 2px solid #4CEEA7;
  background-color: #EFFDF3;
  margin-left: 40px;
  height: 25%;
  width: 44vw;
  background-color: #FAFAFA;
}

.contactForm button {
  margin-top: 30px;
  margin-left: 40px;
  width: 44vw;
}

body {
  background-color: #FAFAFA;
}

.wrapper {
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
}

header {
  background-image: url(../assets/header-image.jpg);
  background-size: cover;
  height: 755px;
}

.headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.normalMenu {
  margin-top: 30px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.normalMenu a {
  margin: 0 20px;
  text-decoration: none;
  color: black;
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  line-height: 2.9rem;
  text-transform: uppercase;
}

.normalMenu a:hover {
  border-bottom: 3px solid #4CEEA7;
}

.burgerMenu,
.mobile {
  display: none;
}

h1 {
  text-align: center;
  margin-top: 500px;
  z-index: 10;
}

.between {
  position: absolute;
  right: 0;
  top: 33%;
  border-bottom: 50px solid #FDFA69;
  border-left: 50px solid #FDFA69;
  border-top: 50px solid #FDFA69;
}

.between img {
  height: 35vw;
  width: 40vw;
}

.section1 {
  text-align: center;
  background-color: #EFFDF3;
  padding-top: 250px;
  padding-bottom: 250px;
}

.section1 h3 {
  margin-bottom: 30px;
}

.more {
  display: block;
  text-decoration: none;
  margin: 0 auto;
  color: black;
  background-color: #4CEEA7;
  padding-left: 3px;
  padding-top: 8px;
  width: 200px;
  height: 50px;
  margin-top: 50px;
}

.gridContainer {
  background-color: #FAFAFA;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 0 200px;
}

.gridItem1 {
  position: relative;
}

.gridItem1 img {
  width: 50vw;
  -webkit-box-shadow: 3rem 3rem 0rem 0rem #FDFA69;
          box-shadow: 3rem 3rem 0rem 0rem #FDFA69;
  position: absolute;
  left: 0;
  top: -10%;
}

.gridItem4 {
  position: relative;
}

.gridItem4 img {
  width: 50vw;
  -webkit-box-shadow: -3rem 3rem 0rem 0rem #FDFA69;
          box-shadow: -3rem 3rem 0rem 0rem #FDFA69;
  position: absolute;
  right: 0;
  bottom: -10%;
}

.gridItem3 {
  margin-left: 100px;
  text-align: right;
}

.gridItem3 p {
  text-align: left;
}

.section2 .more {
  padding-left: 15px;
  padding-top: 8px;
  width: 150px;
  height: 50px;
  margin: 0;
  margin-top: 30px;
}

.section2 .more2 {
  display: inline-block;
  padding-right: 10px;
  padding-top: 8px;
  width: 150px;
  height: 50px;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: right;
}

.section2 h4 {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
}

.section3 {
  background-color: #EFFDF3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40% 40%;
      grid-template-rows: 40% 40%;
  -ms-grid-columns: 40% 40%;
      grid-template-columns: 40% 40%;
  gap: 20px;
  min-height: 70rem;
}

.section3 .gridItem {
  margin-left: 250px;
}

.section3 h4 {
  margin-bottom: 25px;
  margin-top: 75px;
  padding-top: 50px;
}

.fas {
  font-size: 35px;
  background-color: #4CEEA7;
  height: 50px;
  min-width: 50px;
  border-radius: 50%;
  margin-top: 120px;
  margin-right: 15px;
}

.fa-camera {
  padding-left: 8px;
  padding-top: 5px;
}

.fa-users {
  font-size: 25px;
  padding-left: 8px;
  padding-top: 10px;
}

.fa-file {
  font-size: 30px;
  padding-left: 15px;
  padding-top: 10px;
}

.fa-phone {
  font-size: 25px;
  padding-left: 12px;
  padding-top: 10px;
}

.section3 .gridItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30%;
}

.gridItem8 {
  margin-bottom: 150px;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 35rem;
  height: 200px;
  margin-bottom: 30px;
}

.section4 {
  height: 500px;
  background-image: url(../assets/banner.jpg);
  background-size: cover;
}

.section5 {
  background-color: #EFFDF3;
  height: 500px;
}

.section5 h4 {
  margin-bottom: 20px;
  margin-top: 100px;
}

.container5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section5 img {
  margin-top: 100px;
  height: 300px;
  width: 300px;
  -webkit-box-shadow: 2rem 2rem 0rem 0.5rem #FDFA69;
          box-shadow: 2rem 2rem 0rem 0.5rem #FDFA69;
}

.section5 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 100px;
}

.section5 p {
  margin-bottom: 50px;
}

.section5 .more {
  padding-left: 20px;
  margin: 0;
}

.container6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 100px;
}

.section6 img {
  width: 30%;
}

footer {
  background-color: #2C2C2C;
}

footer p {
  color: #FAFAFA;
  text-align: center;
}

.about {
  background-image: url(../assets/place-corgi.jpg);
  background-size: cover;
  height: 100vh;
}

.about h1 {
  margin-top: 0;
}

.about ul {
  margin-top: 0;
}

@media (max-width: 1345px) {
  .sidebar {
    padding-top: 85%;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 965px) {
  .mainContact {
    height: 1000px;
  }
  .sideContact {
    width: 100%;
    padding-top: 500px;
    margin-left: 0;
    text-align: center;
  }
  .contactForm {
    top: 60rem;
    width: 80vw;
  }
  .contactForm input {
    height: 5rem;
    margin-top: 5rem;
    margin-left: 3vw;
    margin-bottom: 30px;
    width: 34vw;
    background-color: #FAFAFA;
  }
  .contactForm textarea {
    margin-left: 2.5vw;
    height: 25%;
    width: 75vw;
  }
  .contactForm button {
    margin-top: 3rem;
    margin-left: 2.5vw;
    width: 75vw;
  }
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  .wrapper {
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
  }
  .between {
    position: absolute;
    right: 0;
    top: 500px;
    border-bottom: 20px solid #FDFA69;
    border-left: 20px solid #FDFA69;
    border-top: 20px solid #FDFA69;
  }
  .between img {
    height: 300px;
    width: 320px;
  }
  .section2 {
    height: 750px;
  }
  .gridItem1 img {
    width: 49vw;
    -webkit-box-shadow: 2rem 2rem 0rem 0rem #FDFA69;
            box-shadow: 2rem 2rem 0rem 0rem #FDFA69;
    position: absolute;
    left: -10%;
    top: -30%;
  }
  .gridItem3 {
    margin-left: 20px;
  }
  .gridItem4 img {
    width: 49vw;
    -webkit-box-shadow: -2rem 2rem 0rem 0rem #FDFA69;
            box-shadow: -2rem 2rem 0rem 0rem #FDFA69;
    position: absolute;
    right: -10%;
    top: 160%;
  }
  .gridItem {
    margin-bottom: 0;
    height: 20%;
  }
  .gridContainer {
    -ms-grid-rows: 350px 350px;
        grid-template-rows: 350px 350px;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 0 100px;
  }
  .section2 h4 {
    width: 95%;
    margin-top: 20px;
    text-align: left;
  }
  .section3 .gridItem {
    margin-left: 30px;
  }
  .section3 {
    min-height: 850px;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 0 20px;
  }
  .section3 .flexContainer {
    margin-bottom: 0;
    height: 150px;
  }
  .section3 h4 {
    margin-top: 0;
    padding-top: 50px;
  }
  .section3 p {
    margin-bottom: 50px;
    padding-bottom: 10px;
  }
  .section3 .fas {
    margin-top: 50px;
  }
  .section5 {
    min-height: 60rem;
  }
  .sidebar {
    padding-top: 95%;
  }
}

@media (max-width: 870px) {
  .section5 {
    height: 75rem;
  }
  h1 {
    font-size: 10rem;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .wrapper {
    max-width: 750px;
    width: 95%;
    margin: 0 auto;
  }
  .between {
    top: 65rem;
    border-bottom: 20px solid #FDFA69;
    border-left: 20px solid #FDFA69;
    border-top: 20px solid #FDFA69;
  }
  .section1 {
    padding-bottom: 15rem;
  }
  .section2 {
    height: 750px;
  }
  .gridItem4 img {
    top: 240%;
  }
  .section5 {
    min-height: 100rem;
  }
}

@media (max-width: 680px) {
  .wrapper {
    max-width: 680px;
    width: 95%;
    margin: 0;
  }
  .normalMenu {
    display: none;
  }
  .burgerMenu,
  .mobile {
    display: unset;
  }
  .burgerMenu {
    list-style: none;
    background: #4CEEA7;
    position: fixed;
    z-index: 10;
    width: 30%;
    left: -30%;
    top: 0;
    height: 256px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .burgerMenu a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Playfair Display", serif;
    color: #2C2C2C;
    border-bottom: 1px solid #2C2C2C;
    display: inline-block;
    font-size: 2rem;
    width: 100%;
    padding: 20px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .burgerMenu a:hover,
  .burgerMenu a:focus {
    background: #3498db;
  }
  .fa {
    font-size: 4rem;
  }
  input[type="checkbox"]:checked + .burgerMenu {
    left: 0;
  }
  input[type="checkbox"] {
    display: none;
  }
  label[for="toggle"] {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 10;
  }
  .mainHeader {
    width: 100%;
    background-position: -1rem 0rem;
    background-size: 110rem 80rem;
    background-repeat: no-repeat;
  }
  .between {
    position: absolute;
    right: 0;
    top: 68rem;
    border: none;
  }
  .between img {
    height: 0;
    width: 0;
  }
  .mainHeader h1 {
    font-size: 8rem;
    margin-top: 60rem;
  }
  .section1 {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  .section2 {
    height: 160rem;
  }
  .gridContainer {
    padding-top: 3rem;
    margin-left: 2vw;
    gap: 0;
  }
  .gridItem1 {
    position: static;
  }
  .gridItem1 img {
    width: 90vw;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: static;
    left: 0;
    top: 0;
  }
  .gridItem2 {
    padding-top: 0;
  }
  .gridItem4 {
    position: static;
  }
  .gridItem4 img {
    width: 90vw;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: static;
    right: 0;
    bottom: 0;
  }
  .gridItem3 {
    margin-left: 0;
    text-align: center;
  }
  .section2 .gridItem p {
    text-align: center;
  }
  .gridItem {
    margin-bottom: 0;
    height: 20%;
    margin: 0 auto;
  }
  .gridContainer {
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 0;
  }
  .section2 h4 {
    width: 100%;
    margin-top: 2rem;
    text-align: center;
  }
  .section2 .more {
    padding-left: 15px;
    padding-top: 8px;
    width: 150px;
    height: 50px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .section3 .gridItem {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .section3 {
    height: 115rem;
    min-height: 850px;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    -ms-grid-columns: unset;
        grid-template-columns: unset;
    gap: 0 20px;
  }
  .section3 .flexContainer {
    margin-bottom: 0;
    height: 150px;
  }
  .section3 h4 {
    margin-top: 0;
    padding-top: 50px;
  }
  .section3 p {
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
  .section3 .fas {
    margin-top: 50px;
  }
  .section5 {
    background-color: #EFFDF3;
    height: 90rem;
  }
  .section5 h4 {
    margin-bottom: 20px;
    margin-top: 30px;
  }
  .container5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 105%;
  }
  .section5 img {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    height: 300px;
    width: 300px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .section5 .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 5vw;
    text-align: center;
  }
  .section5 p {
    margin-bottom: 50px;
  }
  .section5 .more {
    padding-left: 0;
    margin: 0 auto;
  }
  .container5 {
    display: block;
  }
  .section6 {
    height: 25rem;
  }
  .section6 img {
    width: calc(90vw/3);
    height: calc(90vw/3);
  }
  .container6 {
    margin: 0;
    margin-left: 1vw;
    padding-top: 5rem;
    width: 95vw;
  }
  .side {
    margin-right: 1rem;
  }
  .mainPost {
    margin-left: 0;
    padding-left: 1rem;
  }
}

@media (max-width: 480px) {
  .containerBlog {
    display: unset;
  }
  .normalMenu {
    display: none;
  }
  .burgerMenu,
  .mobile {
    display: block;
  }
  .burgerMenu {
    list-style: none;
    background: #4CEEA7;
    position: fixed;
    z-index: 10;
    width: 30%;
    left: -30%;
    top: 0;
    height: 256px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .burgerMenu a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Playfair Display", serif;
    color: #2C2C2C;
    border-bottom: 1px solid #2C2C2C;
    display: inline-block;
    font-size: 2rem;
    width: 100%;
    padding: 20px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .burgerMenu a:hover,
  .burgerMenu a:focus {
    background: #3498db;
  }
  .fa {
    font-size: 4rem;
  }
  input[type="checkbox"]:checked + .burgerMenu {
    left: 0;
  }
  input[type="checkbox"] {
    display: none;
  }
  label[for="toggle"] {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 10;
  }
  .side img {
    display: none;
  }
  .postImage {
    top: 900px;
    left: 5%;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-top: 1.5rem solid #FDFA69;
    border-bottom: 1.5rem solid #FDFA69;
    border-left: 1.5rem solid #FDFA69;
    border-right: 1.5rem solid #FDFA69;
    width: 90%;
  }
  .side {
    margin-right: 0;
    margin-left: 0;
    padding-top: 0;
    width: 100%;
  }
  .sidebar {
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-right: 0;
    margin-top: 0;
    width: 100%;
    text-align: center;
  }
  .sidebar li::before {
    content: "\2022";
    color: #4CEEA7;
    font-weight: bold;
    display: inline-block;
    width: 2px;
    margin-right: 1rem;
  }
  .containerBlog {
    display: block;
    width: 100%;
  }
  .mainPost {
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    margin-top: 70%;
    text-align: center;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .blogPost {
    width: 100%;
  }
  .blogContainer {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0 4rem;
    margin-bottom: 2rem;
  }
  .blogContainer img {
    width: 40vw;
    height: 40vw;
    margin: 0;
    margin-top: 2rem;
    border: 1rem solid #FDFA69;
  }
  .blogContainer p {
    margin: 2rem 0;
  }
  .comment {
    width: 100%;
  }
  .comment input {
    width: 43vw;
    margin-left: 11%;
  }
  .comment textarea,
  .comment button {
    width: 90%;
    margin-left: 5%;
  }
  .normalMenu {
    display: none;
  }
  .burgerMenu,
  .mobile {
    display: block;
  }
  .burgerMenu {
    list-style: none;
    background: #4CEEA7;
    position: fixed;
    z-index: 10;
    width: 30%;
    left: -30%;
    top: 0;
    height: 256px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .burgerMenu a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Playfair Display", serif;
    color: #2C2C2C;
    border-bottom: 1px solid #2C2C2C;
    display: inline-block;
    font-size: 2rem;
    width: 100%;
    padding: 20px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .burgerMenu a:hover,
  .burgerMenu a:focus {
    background: #3498db;
  }
  .fa {
    font-size: 4rem;
  }
  input[type="checkbox"]:checked + .burgerMenu {
    left: 0;
  }
  input[type="checkbox"] {
    display: none;
  }
  label[for="toggle"] {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 10;
  }
  .contact h2 {
    margin-top: 300px;
  }
  .section6 {
    height: 1400px;
  }
  .section6 img {
    width: 80vw;
    height: 80vw;
    margin: 3rem auto;
  }
  .container6 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
